<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Pizza</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="pizza1.png" type="image/png">
</head>

<body>

    <h1>Perfect Pizza</h1>

    {{> shopcart}}

    {{{body}}}

    <div class="contain contact_us">

        <center><h2>Contact Details</h2></center>

        <p id="contact">
            <center>Contact us @: (+27)61 133 1520</center> <br>
            <center>jacksenosha@perfectpizza.com </center><br>
         
        </p>

    </div>

    <div class="footer">
        Jackie Senosha | www.perfectpizzas.com | 130 Sivewright, Johannesburg, 2001
    </div>

</body>

</html>