<div class="pizzas">

    <div class="contain small_pizza">

        <h2>Small Pizza</h2>

        <div class="pizza_img">
            <img src="pizza1.png" width="200">

        </div>

        <table class="pizza_top">
            
            <tr>
                <td>
                    <div>
                        <tr>
                <td colspan="2">
                    <h3>R49.00</h3>
                </td>
            </tr>
                        <h5>Something Meat</h5>
                        Ham, pepperoni, bacon, ground beef, BBQ sauce

                        <h5>Beef Steak and Mushroom</h5>
                        Beef steak pieces, mushroom, tomato, onion, Debonairs sauce

                        <h5>Mexican Fiesta Chilli IconChilli IconChilli Icon</h5>
                        Ground beef, jalapeño, green pepper, onion, Mexican sauce
                    </div>
                </td>
            
                <td>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    
                        <form action="/cart" method="POST">
                            <button class="pBtn small buy" name="size" value="smallAdd" on type="submit">Buy</button>
                        </form>
                        <br>
                </td>
            </tr>
        </table>
    </div>

    <div class="contain medium_pizza">

        <h2>Medium Pizza</h2>

        <div class="pizza_img">
            <img src="pizza.png" width="200">
        </div>

       <table class="pizza_top">
            
            <tr>
                <td>
                    <div>
                        <tr>
                <td colspan="2">
                    <h3>R89.00</h3>
                </td>
            </tr>
                        <h5>Something Meat</h5>
                        Ham, pepperoni, bacon, ground beef, BBQ sauce

                        <h5>Beef Steak and Mushroom</h5>
                        Beef steak pieces, mushroom, tomato, onion, Debonairs sauce

                        <h5>Mexican Fiesta Chilli IconChilli IconChilli Icon</h5>
                        Ground beef, jalapeño, green pepper, onion, Mexican sauce
                    </div>
                </td>
            
                <td>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    
                        <form action="/cart" method="POST">
                            <button class="pBtn med buy" name="size" value="medAdd" on type="submit">Buy</button>
                        </form>
                        <br>
                </td>
            </tr>
        </table>
    </div>

    <div class="contain large_pizza">

        <h2>Large Pizza</h2>

        <div class="pizza_img">
            <img src="pizza2.png" width="200">
        </div>

       <table class="pizza_top">
            
            <tr>
                <td>
                    <div>
                        <tr>
                <td colspan="2">
                    <h3>R120.00</h3>
                </td>
            </tr>
                        <h5>Something Meat</h5>
                        Ham, pepperoni, bacon, ground beef, BBQ sauce

                        <h5>Beef Steak and Mushroom</h5>
                        Beef steak pieces, mushroom, tomato, onion, Debonairs sauce

                        <h5>Mexican Fiesta Chilli IconChilli IconChilli Icon</h5>
                        Ground beef, jalapeño, green pepper, onion, Mexican sauce
                    </div>
                </td>
            
                <td>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    
                        <form action="/cart" method="POST">
                            <button class="pBtn large buy" name="size" value="largeAdd" on type="submit">Buy</button>
                        </form>
                        <br>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
<style>
    img {

        border-radius: 100%;
    }
</style>